@media (max-width: 1150px) {
    .begin__main {
        flex-direction: column;
        align-items: normal;
        gap: 5px;
    }
}

@media (max-width: 800px) {
    .advantages__block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .sidebar-show__content {
        margin-left: 0 !important;
    }

    .sidebar {width: 200px;}

    .sidebar-menu__link {
        padding: 10px 15px;
        font-size: 14px;
    }

    .down-triangle, .header__inner-username, .dropdown-link {font-size: 14px;}

    .sidebar-menu__img, .sidebar-menu__img-block, #toggleSidebar {max-width: 24px;}

    .logo {max-width: 100px;}

    .header__inner-item {gap: 10px;}

    .header__inner-profile {max-width: 32px;}

    .dropdown-menu {min-width: 140px;}

    .begin__main {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }

    .welcome__begin {
        flex-direction: column;
    }

    .welcome__roles {flex-direction: column;}

    
    
    .footer__inner {
        flex-direction: column;
        gap: 10px;
    }

    .footer__makes-by, .footer__customer {text-align: center;}
}

@media (max-width: 700px) {
    .best-courses__title {
        font-size: 24px;
    }

    .course__title-link {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .advantages__block {grid-template-columns: repeat(1, 1fr);}

    .best-courses__details > a {display: none;}

    .course-tag > .tag__link {
        font-size: 12px;
        min-width: 100px;
    }

    .course__title-link, .course-author__link, .rating {font-size: 12px;}

    .star {width: 14px;}

    .course__image {max-width: 60px;}

    .course__by-block {padding: 5px 0;}

    .courses__item {gap: 10px;}

    .best-courses__title {font-size: 18px;}
}

@media (max-width: 500px) {
    .tag {display: none;}
}

@media (max-width: 425px) {
    .header {height: 50px;}

    .header__inner {padding: 0 15px;}

    .header__inner-username {display: none;}

    .sidebar {
        top: 50px;
        width: 130px;
        height: calc(100% - 50px);
    }

    .dropdown-menu {top: auto;}

    .sidebar-menu {margin-top: 10px;}

    .sidebar-menu__link {
        padding: 5px 10px;
        font-size: 10px;
    }

    .sidebar-menu__img, #toggleSidebar {
        max-width: 18px;
        max-height: 20px;
    }

    .sidebar-menu__img-block, .submenu__img-block {display: none;}

    .down-triangle, .header__inner-username, .dropdown-link, .tag, .welcome__title, .welcome__description {font-size: 12px;}

    .logo {max-width: 80px;}
    
    .header__inner-profile {max-width: 24px;}

    .content {margin-top: 50px;}

    .welcome__begin {
        padding: 15px;
        font-size: 12px;
    }

    .ok {padding: 5px 30px;}

    .advantages__title {font-size: 24px;}

    .advantages__item-title {font-size: 18px;}
    
    .advantages__item-description {font-size: 12px;}

    .course__title-link, .course-author__link, .rating {font-size: 10px;}

    .footer__inner {font-size: 12px;}
}