@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #1B1B1B;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.main {
    flex: 1;
}

/* --------- HEADER --------- */

.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #282C37;
    border-bottom: 1px solid #6C7293;
    z-index: 1;
}

.header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.header__inner-item {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #ffffff;
}

.header__inner-profile {
    width: 40px;
}

.down-triangle {
    font-size: 16px;
    color: #6C7293;
}

.is_authenticated {
    cursor: pointer;
}

/* --------- dropdown-menu --------- */

#toggleSidebar {
    cursor: pointer;
}

.dropdown-menu {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 25px;
    min-width: 160px;
    padding: 10px 0;
    text-align: right;
    background-color: #282C37;
    border: 1px solid #6C7293;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.dropdown-link {
    display: block;
    color: #6C7293;
    border-right: 5px solid #282C37;
    padding: 5px 10px;
    transition: .3s;
}

.dropdown-item:hover .dropdown-link {
    border-right: 5px solid #6C7293;
    background-color: #1D2027;
}

.dropdown-button {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.dropdown-show {
    display: block;
    opacity: 1;
    transform: translateY(75px);
}

/* --------- sidebar --------- */

.sidebar {
    position: fixed;
    top: 70px;
    left: -250px;
    width: 250px;
    height: calc(100% - 70px);
    background-color: #282C37;
    transition: left 0.3s ease-in-out;
    border-right: 1px solid #6C7293;
}

.sidebar-show {
    left: 0;
}

.sidebar-show__content {
    margin-left: 250px !important;
}

.sidebar-menu {
    margin-top: 20px;
}

.sidebar-menu__link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    color: #6C7293;
    border-left: 5px solid #282C37;
    font-weight: 700;
    transition: .3s;
}

.pull-out-menu {
    justify-content: space-between;
}

.sidebar-menu__title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.sidebar-menu__img-block {
    width: 28px;
}

.sidebar-menu__item:hover .sidebar-menu__link, .active {
    border-left: 5px solid #6C7293;
    background-color: #1D2027;
}

.submenu__list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.submenu__link {
    border-bottom: 1px solid #6C7293;
}

.my-courses__link {
    margin-left: 20px;
}

/* --------- CONTENT --------- */

.content {
    margin-top: 70px;
    padding: 30px;
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
    z-index: 0;
}

/* --------- LANDING MAIN --------- */

.welcome__begin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #282C37;
    border: 1px solid #6C7293;
    border-radius: 10px;
    gap: 10px;
}

.begin__main {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 20px;
}

.begin__title {
    font-weight: 700;
}

.ok {
    display: block;
    padding: 5px 50px;
    color: #ffffff;
    background-color: rgba(111, 185, 99, 0.1);
    border: 2px solid #6FB963;
    border-radius: 10px;
    transition: .3s;
}

.ok:hover {
    background-color: #6FB963;
}

.welcome__roles {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.roles__item {
    background-color: #282C37;
    padding: 25px;
    border: 1px solid #6C7293;
    border-radius: 10px;
}

.welcome__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag__link {
    display: block;
    padding: 5px 10px;
    border: 2px solid #6C7293;
    border-radius: 10px;
    text-align: center;
    color: #6C7293;
    transition: .3s;
}

.tag__link:hover {
    background-color: #6C7293;
    color: #ffffff;
}

.welcome__title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.welcome__description {
    margin-top: 20px;
    color: #6C7293;
}

.advantages {
    margin-top: 30px;
}

.advantages__block {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
}

.advantages__title {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: #282C37;
    border: 1px solid #6C7293;
    border-radius: 10px;
}

.advantages__item-title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.advantages__item-description {
    color: #6C7293;
}

.best-courses {
    margin-top: 30px;
}

.courses__block {
    padding: 25px;
    background-color: #282C37;
    border: 1px solid #6C7293;
    border-radius: 10px;
}

.best-courses__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #6C7293;
}

.best-courses__title {
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
}

.courses__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.courses__item {
    display: flex;
    gap: 20px;
}

.course__details {
    width: 100%;
}

.course__title-block, .course__by-block, .course-rating__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__by-block {
    padding: 10px 0;
    border-bottom: 1px solid #6C7293;
}

.course-rating__block {
    gap: 5px;
    color: #ffffff;
    font-weight: 700;
}

.course__title-link {
    color: #ffffff;
    font-size: 24px;
    color: #ffffff;
}

.course__title-link:hover, .course-author__link:hover {
    text-decoration: underline;
}

.course-author__link {
    color: #6C7293;
}

/* --------- CATALOG --------- */

.search__block {
    padding: 25px;
    background-color: #282C37;
    border: 1px solid #6C7293;
    border-radius: 10px;
}

.search-bar__form {
    width: 100%;
    display: flex;
    gap: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid #6C7293;
}

.search-bar {
    background-color: #4F5968;
    border: 1px solid #6C7293;
    border-radius: 5px;
    width: 250px;
    min-width: 100px;
    padding-left: 10px;
    color: #ffffff;
    transition: .3s;
}

.search-bar::placeholder {
    color: #a0a0a0;
}

.search-bar:focus {
    border: 1px solid #6FB963;
}

.tags {
    margin-top: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

/* --------- PROFILE --------- */

.profile__block {
    display: flex;
    gap: 20px;
    padding: 25px;
    background-color: #282C37;
    border: 1px solid #6C7293;
    border-radius: 10px;
}

.profile-image {
    max-width: 170px;
    width: 170px;
}

.profile-details__block {
    width: 100%;
}

.profile-username__block {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #6C7293;
}

.profile-username {
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
}

.profile-settings__link {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    border: 2px solid #6C7293;
    border-radius: 10px;
    color: #6C7293;
    font-weight: 700;
    transition: .3s;
}

.profile-settings__link:hover {
    background-color: #6C7293;
    color: #ffffff;
}

.profile-settings__link:hover>.settings-image {
    transition: .3s;
    filter: brightness(0) invert(1);
}

.profile-additional {
    margin-top: 15px;
    color: #6C7293;
    font-weight: 700;
}

.my-learning {
    margin-top: 30px;
}

.course-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    width: 50%;
}

.course-progress progress {
    width: 100%;
    height: 10px;
    border: 0;
    border-radius: 10px;
}

.course-progress progress[value]::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 40px;
}

.course-progress progress[value]::-webkit-progress-value {
    border-radius: 40px;
    background-color: #73FC70;
}

.course__image {
    max-width: 110px;
    border-radius: 10px;
}

.progress-value {
    color: #ffffff;
}

.my-courses {
    margin-top: 30px;
}

.news-date {
    color: #6C7293;
}

.news__buttons {
    margin-top: 20px;
}

.news__link {
    max-width: 200px;
}

/* --------- FOOTER --------- */

.footer {
    transition: margin-left 0.3s ease-in-out;
}

.footer__inner {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #565656;
}

.footer__makes-by, .footer__customer {
    display: flex;
    flex-direction: column;
}

.footer__customer {
    text-align: right;
}