<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{'/css/' + ${theme != null ? theme : 'light'} + '.css'}" id="theme">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.svg}">
    <title>404 | eStudy</title>
</head>

<body>
<header id="header" class="header">
    <div class="header__inner">
        <div class="header__inner-item">
            <div>
                <a th:href="@{/}" class="logo__link">
                    <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                </a>
            </div>
        </div>
        <div class="header__inner-item">
            <div class="theme-block">
                <img th:src="@{/images/sun.svg}" alt="theme">
            </div>
        </div>
    </div>
</header>

<main class="main">
    <div id="content" class="content">
        <div class="registration-block">
            <h1 class="error-code">404</h1>
            <h3 class="error-desc">Страница не найдена</h3>
            <p class="error-sorry">Запрашиваемая страница отсутствует на сервере или была перемещена в другое место. Приносим извинения за предоставленные неудобства.</p>

            <div class="course-btns1" style="margin-top: 2rem;">
                <a th:href="@{/}" class="ok">На главную</a>
            </div>
        </div>
    </div>
</main>

<footer class="footer">

</footer>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/js/toggle_theme.js}"></script>
</body>

</html>