<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <title>Каталог | eStudy</title>
</head>

<body>

    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
                <div>
                    <a th:href="@{/}" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="header__inner-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
                </a>
                <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                    <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                    <span class="down-triangle">&#9660;</span>
                </a>
                <div id="dropdownMenu" class="dropdown-menu">
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                        <li class="dropdown-item"><a th:href="@{/faq}" class="dropdown-link">Поддержка</a></li>
                        <li class="dropdown-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header__inner-item" sec:authorize="isAnonymous()">
                <a th:href="@{/auth/login}" class="header__inner-item auth">
                    <span class="header__inner-username">Войти</span>
                </a>
                <a th:href="@{/auth/registration}" class="header__inner-item auth">
                    <span class="header__inner-username">Зарегистрироваться</span>
                </a>
            </div>
        </div>

        <div id="sidebar" class="sidebar sidebar-show">
            <nav class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                     class="sidebar-menu__img">
                            </div>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" id="submenu" sec:authorize="isAuthenticated()">
                        <a href="#" class="sidebar-menu__link pull-out-menu">
                            <div class="sidebar-menu__title">
                                <div class="sidebar-menu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                                </div>
                                <span>Мои курсы</span>
                            </div>
                            <span class="down-triangle">&#9660;</span>
                        </a>
                    </li>

                    <!-- SUBMENU MY COURSES -->
                    <ul class="submenu__list sidebar-menu__list" sec:authorize="isAuthenticated()">
                        <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                            <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                                <span>Курсов нет</span>
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                            <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                <span th:text="${course.getTitle()}"></span>
                            </a>
                        </li>
                    </ul>

                    <li class="sidebar-menu__item">
                        <a th:href="@{/courses/catalog}" class="sidebar-menu__link active">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                            </div>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/news}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                            </div>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/faq}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                            </div>
                            <span>Поддержка</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/about}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                            </div>
                            <span>О нас</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/admin}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                            </div>
                            <span>Админ. панель</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content sidebar-show__content">
            <section class="search">
                <div class="search__block">
                    <div class="search-bar__block">

                        <!-- Форма поиска -->
                        <form th:action="@{/courses/catalog}" method="get" class="search-bar__form">
                            <input type="search" name="q" id="search-bar" placeholder="Название или автор"
                                class="search-bar" th:value="${param.q}">
                            <input type="submit" value="Искать" class="ok">
                        </form>
                    </div>
                    <div class="tags">
                        <div class="tag tags__item" th:each="tag : ${tags}">
                            <a th:href="@{/courses/catalog(tag=${tag.getName()})}" class="tag__link" th:text="${tag.getName()}"></a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="best-courses">
                <div class="courses__block">
                    <div class="best-courses__details">
                        <h2 class="best-courses__title">Онлайн-курсы</h2>
                        <div>
                            <button onclick="toggleDropdown()" class="dropdown-button ok">Фильтр</button>
                            <div id="dropdown-content" class="dropdown-content">
                                <a th:href="@{'?s=a-z'}">По названию &#129047;</a>
                                <a th:href="@{'?s=z-a'}">По названию &#129045;</a>
                                <a th:href="@{'?s=top'}">По рейтингу &#129047;</a>
                                <a th:href="@{'?s=bottom'}">По рейтингу &#129045;</a>
                            </div>
                        </div>
                    </div>

                    <div class="courses__list">
                        <div th:if="${courses.isEmpty()}" style="margin: 50px auto; color: #6C7293;">
                            <h2 style="text-align: center;">Упс! Кажется, здесь пока нет курсов.</h2>
                            <p style="text-align: center; margin: 10px 0;">Но не отчаивайтесь, возможно, это временный перерыв.</p>

                            <p style="text-align: center;">Вы всегда можете поискать что-то интересное в нашем <a class="empty-link" th:href="@{/news}">новостном блоге</a>.</p>
                        </div>
                        <div class="courses__item" th:each="course : ${courses}">
                            <div class="course__image-block">
                                <a th:href="@{/courses(id=__${course.getId()}__)}">
                                    <div class="input-file-list">
                                        <div class="input-file-list-item">
                                            <img th:src="@{/course/img/{id}(id=${course.getImage().getId()})}" alt="course" class="input-file-list-img">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="course__details">
                                <div class="course__title-block">
                                    <h4 class="course__title">
                                        <a th:href="@{/courses(id=__${course.getId()}__)}" class="course__title-link" th:text="${course.getTitle()}"></a>
                                    </h4>
                                    <div class="tag course-tag">
                                        <a th:href="@{/courses/catalog(tag=${course.getTag().getName()})}" class="tag__link" th:text="${course.getTag().getName()}"></a>
                                    </div>
                                </div>
                                <div class="course__by-block">
                                    <h5 class="course-author">
                                        <a th:href="@{/courses/catalog(q=${course.getAuthor().getUsername()})}" class="course-author__link" th:text="${course.getAuthor().getUsername()}"></a>
                                    </h5>
                                    <div class="course-rating__block">
                                        <img th:src="@{/images/star.svg}" alt="star" class="star">
                                        <p class="rating" th:text="${course.getRating()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer sidebar-show__content">
        <div class="footer__inner">
            <div class="footer__makes-by">
                <span>ИС-4</span>
                <span>Ростовцев В.С.</span>
            </div>
            <div class="footer__diplom">
                <span>Дипломная работа</span>
            </div>
            <div class="footer__customer">
                <span>Техникум</span>
                <span>Бизнес и право</span>
            </div>
        </div>
    </footer>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script>
        function toggleDropdown() {
            let dropdownContent = document.getElementById("dropdown-content");
            dropdownContent.classList.toggle("show");
        }
    </script>
</body>

</html>