<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <title>Курс | eStudy</title>
</head>

<body>
    <div class="bg"></div>
    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
                <div>
                    <a th:href="@{/}" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="header__inner-item">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
                </a>
                <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                    <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                    <span class="down-triangle">&#9660;</span>
                </a>
                <div id="dropdownMenu" class="dropdown-menu">
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                        <li class="dropdown-item"><a href="#" class="dropdown-link">Что-то еще</a></li>
                        <li class="dropdown-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="sidebar" class="sidebar sidebar-show">
            <nav class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item">
                        <a th:href="@{/profile}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                     class="sidebar-menu__img">
                            </div>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" id="submenu">
                        <a href="#" class="sidebar-menu__link pull-out-menu">
                            <div class="sidebar-menu__title">
                                <div class="sidebar-menu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                                </div>
                                <span>Мои курсы</span>
                            </div>
                            <span class="down-triangle">&#9660;</span>
                        </a>
                    </li>

                    <!-- SUBMENU MY COURSES -->
                    <ul class="submenu__list sidebar-menu__list">
                        <li class="submenu__item sidebar-menu__item">
                            <a href="#" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                Английский
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item">
                            <a href="#" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                C++
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item">
                            <a href="#" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                ДЛЯ ДЕБИЛОВ
                            </a>
                        </li>
                    </ul>

                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                            </div>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/calendar.svg}" alt="calendar" class="sidebar-menu__img">
                            </div>
                            <span>Календарь</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                            </div>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                            </div>
                            <span>Поддержка</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                            </div>
                            <span>О нас</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                            </div>
                            <span>Админ. панель</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content sidebar-show__content">
            <section class="heading-course">

                <!-- Форма редактирования курса -->
                <form th:action="@{/courses/update}" th:method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${course.getId()}">
                    <div class="add-news__block">
                        <div class="best-courses__details news__details">
                            <h2 class="best-courses__title">Учебный курс</h2>
                        </div>

                        <div class="news-details__block">
                            <div class="news-image__block">
                                <div class="input-file-row">
                                    <label class="input-file">
                                        <input id="file" type="file" name="file">
                                        <span>Выберите файл</span>
                                    </label>
                                    <div class="input-file-list">
                                        <div class="input-file-list-item">
                                            <img th:src="@{/img/{id}(id=${course.getImage().getId()})}" alt="course" class="input-file-list-img">
                                            <a href="#" onclick="removeFilesItem(this); return false;" class="input-file-list-remove">x</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-inputs__block">
                                <div class="news-title__block">
                                    <label for="news_title" class="label">Заголовок</label>
                                    <input type="text" id="news_title" name="title" class="search-bar news-input" th:value="${course.getTitle()}">
                                </div>
                                <div class="news-description__block">
                                    <label for="news_description" class="label">Описание</label>
                                    <textarea name="description" id="news_description"
                                              class="search-bar news-input" th:text="${course.getDescription()}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="course-btns">
                            <button class="ok" type="submit">Редактировать</button>
                        </div>
                    </div>
                </form>
            </section>

            <section class="empty-course">
                <div class="empty-block">
                    <div th:if="${modules.isEmpty()}">
                        <p>В курсе пока нет ни одного урока.</p>
                        <p>Создайте первый модуль, чтобы добавить уроки!</p>
                    </div>
                    <div th:if="${!modules.isEmpty()}">
                        <p>Создайте новый модуль.</p>
                        <p>Новые модули помогут систематизировать обучение!</p>
                    </div>
                    <div class="course-btns1">
                        <button class="ok" type="submit" id="toNewModule">Новый модуль</button>
                    </div>
                </div>

                <div class="lesson-type-block" id="newModule">
                    <form th:action="@{/modules/create}" method="post">
                        <input type="hidden" name="courseId" th:value="${course.getId()}">
                        <div class="module-heading">
                            <div class="module-inputs">
                                <div class="news-title__block">
                                    <label for="module_title" class="label">Заголовок</label>
                                    <input type="text" id="module_title" name="title" class="search-bar news-input">
                                </div>
                                <div class="news-description__block">
                                    <label for="module_description" class="label">Описание</label>
                                    <textarea name="description" id="module_description" class="search-bar news-input"
                                              style="height: 100px;"></textarea>
                                </div>
                            </div>

                            <div class="module-btns">
                                <button type="submit" class="ok">Добавить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="module-section" th:if="${!modules.isEmpty()}">
                <div class="module-block">
                    <div class="module" th:each="module1 : ${modules}">
                        <div class="module-head">
                            <div class="module-details">
                                <h4 th:text="${module1.getTitle()}"></h4>
                                <div class="module-actions">
                                    <a th:href="@{/modules(id=__${module1.getId()}__)}"><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                    <form th:action="@{/modules/delete}" method="post" id="deleteForm">
                                        <input type="hidden" name="id" th:value="${module1.getId()}">
                                        <img th:src="@{/images/delete.svg}" alt="delete" class="pointer" onclick="toSubmit()">
                                    </form>
                                </div>
                            </div>
                            <div class="module-description">
                                <p th:text="${module1.getDescription()}"></p>
                            </div>
                        </div>
                        <div class="lessons">
                            <div class="module-item">
                                <div class="lesson-details">
                                    <div class="lesson-img">
                                        <img th:src="@{/images/lesson-theory.svg}" alt="theory lesson">
                                    </div>
                                    <h5><a href="#">Урок 1</a></h5>
                                </div>
                                <div class="module-actions">
                                    <a href="#"><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                    <a href="#"><img th:src="@{/images/delete.svg}" alt="delete"></a>
                                </div>
                            </div>
                            <div class="module-item">
                                <div class="lesson-details">
                                    <div class="lesson-img">
                                        <img th:src="@{/images/lesson-practice.svg}" alt="practice lesson">
                                    </div>
                                    <h5><a href="#">Урок 2</a></h5>
                                </div>
                                <div class="module-actions">
                                    <a href="#"><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                    <a href="#"><img th:src="@{/images/delete.svg}" alt="delete"></a>
                                </div>
                            </div>
                            <div class="module-item">
                                <div class="lesson-details">
                                    <div class="lesson-img">
                                        <img th:src="@{/images/lesson-practice.svg}" alt="practice lesson">
                                    </div>
                                    <h5><a href="#">Урок 3</a></h5>
                                </div>
                                <div class="module-actions">
                                    <a href="#"><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                    <a href="#"><img th:src="@{/images/delete.svg}" alt="delete"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer sidebar-show__content">
        <div class="footer__inner">
            <div class="footer__makes-by">
                <span>ИС-4</span>
                <span>Ростовцев В.С.</span>
            </div>
            <div class="footer__diplom">
                <span>Дипломная работа</span>
            </div>
            <div class="footer__customer">
                <span>Техникум</span>
                <span>Бизнес и право</span>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/js/add_image.js}"></script>
    <script th:src="@{/js/turnToCreateModule.js}"></script>
    <script>
        function toSubmit() {
            document.getElementById('deleteForm').submit();
        }
    </script>
</body>

</html>