<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <title>Главная | eStudy</title>
</head>

<body>
    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
                <div>
                    <a href="#" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="header__inner-item" sec:authorize="isAuthenticated()">
                <a href="#">
                    <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
                </a>
                <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                    <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                    <span class="down-triangle">&#9660;</span>
                </a>
                <div id="dropdownMenu" class="dropdown-menu">
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                        <li class="dropdown-item"><a href="#" class="dropdown-link">Что-то еще</a></li>
                        <li class="dropdown-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="sidebar" class="sidebar sidebar-show">
            <nav class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                     class="sidebar-menu__img">
                            </div>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" id="submenu" sec:authorize="isAuthenticated()">
                        <a href="#" class="sidebar-menu__link pull-out-menu">
                            <div class="sidebar-menu__title">
                                <div class="sidebar-menu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                                </div>
                                <span>Мои курсы</span>
                            </div>
                            <span class="down-triangle">&#9660;</span>
                        </a>
                    </li>

                    <!-- SUBMENU MY COURSES -->
                    <ul class="submenu__list sidebar-menu__list">
                        <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                            <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                                <span>Курсов нет</span>
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                            <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                <span th:text="${course.getTitle()}"></span>
                            </a>
                        </li>
                    </ul>

                    <li class="sidebar-menu__item">
                        <a th:href="@{/courses/catalog}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                            </div>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" th:if="${user}">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/calendar.svg}" alt="calendar" class="sidebar-menu__img">
                            </div>
                            <span>Календарь</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                            </div>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                            </div>
                            <span>Поддержка</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                            </div>
                            <span>О нас</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                            </div>
                            <span>Админ. панель</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content sidebar-show__content">
            <section class="welcome">
                <div class="welcome__begin">
                    <div class="begin__main">
                        <div class="begin__logo">
                            <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                        </div>
                        <div class="begin__presentation">
                            <h4 class="begin__title">Добро пожаловать!</h4>
                            <p class="begin__description">eStudy - это современное решение для обучения и развития!</p>
                        </div>
                    </div>
                    <div class="begin__button">
                        <a th:href="@{/courses/catalog}" class="ok">Начать</a>
                    </div>
                </div>

                <div class="welcome__roles">
                    <div class="roles__item">
                        <div class="welcome__details">
                            <img th:src="@{/images/learning.svg}" alt="learning" class="details__image">
                            <div class="tag">
                                <a href="#" class="tag__link">Обучение</a>
                            </div>
                        </div>
                        <div class="welcome__title">
                            <h3>Обучение на eStudy</h3>
                        </div>
                        <div class="welcome__description">
                            <p>На eStudy вы найдете доступ к широкому спектру курсов, которые помогут вам развивать свои
                                навыки и знания</p>
                        </div>
                    </div>

                    <div class="roles__item">
                        <div class="welcome__details">
                            <img th:src="@{/images/teaching.svg}" alt="teaching" class="details__image">
                            <div class="tag">
                                <a href="#" class="tag__link">Преподавание</a>
                            </div>
                        </div>
                        <div class="welcome__title">
                            <h3>Преподавание на eStudy</h3>
                        </div>
                        <div class="welcome__description">
                            <p>Делитесь знаниями в нашей электронной обучающей системе eStudy, создавая бесплатные курсы
                                для других</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="advantages">
                <h2 class="advantages__title">Наши преимущества</h2>
                <div class="advantages__block">
                    <div class="advantages__item">
                        <h3 class="advantages__item-title">Онлайн-обучение</h3>
                        <p class="advantages__item-description">Мы предлагаем комплексные программы обучения в режиме
                            онлайн, что позволяет ученикам обучаться в любое удобное для них время</p>
                    </div>

                    <div class="advantages__item">
                        <h3 class="advantages__item-title">Гибкость</h3>
                        <p class="advantages__item-description">Мы предлагаем гибкие планы обучения, которые могут быть
                            адаптированы под ваши нужды</p>
                    </div>

                    <div class="advantages__item">
                        <h3 class="advantages__item-title">Конструктор</h3>
                        <p class="advantages__item-description">Вы можете создавать свои собственные обучающие
                            программы, чтобы ученикам было легче изучать материал</p>
                    </div>

                    <div class="advantages__item">
                        <h3 class="advantages__item-title">Безопасность</h3>
                        <p class="advantages__item-description">Мы берем на себя ответственность за безопасность ваших
                            данных</p>
                    </div>

                    <div class="advantages__item">
                        <h3 class="advantages__item-title">Поддержка</h3>
                        <p class="advantages__item-description">Наша команда поддержки всегда готова помочь вам в любых
                            вопросах, которые у вас возникают</p>
                    </div>

                    <div class="advantages__item">
                        <h3 class="advantages__item-title">Интерактивность</h3>
                        <p class="advantages__item-description">Наша платформа предоставляет интерактивные уроки, что
                            повышает вовлеченность и понимание материала</p>
                    </div>
                </div>
            </section>

            <section class="best-courses">
                <div class="courses__block">
                    <div class="best-courses__details">
                        <h2 class="best-courses__title">Подборка лучших курсов</h2>
                        <a href="#" class="ok">Подробнее</a>
                    </div>

                    <div class="courses__list">
                        <div class="courses__item">
                            <div class="course__image-block">
                                <a href="#">
                                    <img th:src="@{/images/course/course1.png}" alt="course" class="course__image">
                                </a>
                            </div>
                            <div class="course__details">
                                <div class="course__title-block">
                                    <h4 class="course__title">
                                        <a href="#" class="course__title-link">Английский для программистов</a>
                                    </h4>
                                    <div class="tag course-tag">
                                        <a href="#" class="tag__link">Языки</a>
                                    </div>
                                </div>
                                <div class="course__by-block">
                                    <h5 class="course-author">
                                        <a href="#" class="course-author__link">Удав Безумный</a>
                                    </h5>
                                    <div class="course-rating__block">
                                        <img th:src="@{/images/star.svg}" alt="star" class="star">
                                        <p class="rating">5.0</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="courses__item">
                            <div class="course__image-block">
                                <a href="#">
                                    <img th:src="@{/images/course/course2.png}" alt="course" class="course__image">
                                </a>
                            </div>
                            <div class="course__details">
                                <div class="course__title-block">
                                    <h4 class="course__title">
                                        <a href="#" class="course__title-link">Angular для чайников</a>
                                    </h4>
                                    <div class="tag course-tag">
                                        <a href="#" class="tag__link">Программирование</a>
                                    </div>
                                </div>
                                <div class="course__by-block">
                                    <h5 class="course-author">
                                        <a href="#" class="course-author__link">Удав Умный</a>
                                    </h5>
                                    <div class="course-rating__block">
                                        <img th:src="@{/images/star.svg}" alt="star" class="star">
                                        <p class="rating">5.0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="courses__item">
                            <div class="course__image-block">
                                <a href="#">
                                    <img th:src="@{/images/course/course3.png}" alt="course" class="course__image">
                                </a>
                            </div>
                            <div class="course__details">
                                <div class="course__title-block">
                                    <h4 class="course__title">
                                        <a href="#" class="course__title-link">Теория по вселенной Pokemon</a>
                                    </h4>
                                    <div class="tag course-tag">
                                        <a href="#" class="tag__link">Личность</a>
                                    </div>
                                </div>
                                <div class="course__by-block">
                                    <h5 class="course-author">
                                        <a href="#" class="course-author__link">Опередивший время</a>
                                    </h5>
                                    <div class="course-rating__block">
                                        <img th:src="@{/images/star.svg}" alt="star" class="star">
                                        <p class="rating">5.0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer sidebar-show__content">
        <div class="footer__inner">
            <div class="footer__makes-by">
                <span>ИС-4</span>
                <span>Ростовцев В.С.</span>
            </div>
            <div class="footer__diplom">
                <span>Дипломная работа</span>
            </div>
            <div class="footer__customer">
                <span>Техникум</span>
                <span>Бизнес и право</span>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/header.js}"></script>
</body>

</html>