<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="stylesheet" th:href="@{/css/hystmodal.min.css}">
    <script th:src="@{/js/hystmodal.min.js}"></script>
    <title>Модуль | eStudy</title>
</head>

<body>
    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
                <div>
                    <a th:href="@{/}" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="header__inner-item">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
                </a>
                <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                    <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                    <span class="down-triangle">&#9660;</span>
                </a>
                <div id="dropdownMenu" class="dropdown-menu">
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                        <li class="dropdown-item"><a href="#" class="dropdown-link">Что-то еще</a></li>
                        <li class="dropdown-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="sidebar" class="sidebar sidebar-show">
            <nav class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item">
                        <a th:href="@{/profile}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                     class="sidebar-menu__img">
                            </div>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" id="submenu">
                        <a href="#" class="sidebar-menu__link pull-out-menu">
                            <div class="sidebar-menu__title">
                                <div class="sidebar-menu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                                </div>
                                <span>Мои курсы</span>
                            </div>
                            <span class="down-triangle">&#9660;</span>
                        </a>
                    </li>

                    <!-- SUBMENU MY COURSES -->
                    <ul class="submenu__list sidebar-menu__list">
                        <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                            <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                                <span>Курсов нет</span>
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                            <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                <span th:text="${course.getTitle()}"></span>
                            </a>
                        </li>
                    </ul>

                    <li class="sidebar-menu__item">
                        <a th:href="@{/courses/catalog}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                            </div>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/calendar.svg}" alt="calendar" class="sidebar-menu__img">
                            </div>
                            <span>Календарь</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/news}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                            </div>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                            </div>
                            <span>Поддержка</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                            </div>
                            <span>О нас</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                            </div>
                            <span>Админ. панель</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content sidebar-show__content">
            <section class="module">
                <div class="bread-crumbs">
                    <a th:href="@{/courses(id=__${module1.getCourse().getId()}__)}" th:text="${module1.getCourse().getTitle()}" class="best-courses__title uline"></a>
                    <span class="best-courses__title"> -> </span>
                    <span th:text="${module1.getTitle()}" class="best-courses__title" style="text-decoration: underline;"></span>
                </div>
                <div class="module-block">
                    <div class="module-heading">
                        <div class="module-inputs">
                            <div class="news-title__block">
                                <label for="module_title" class="label">Заголовок</label>
                                <input type="text" id="module_title" name="title" class="search-bar news-input" th:value="${module1.getTitle()}">
                            </div>
                            <div class="news-description__block">
                                <label for="module_description" class="label">Описание</label>
                                <textarea name="description" id="module_description" class="search-bar news-input"
                                    style="height: 100px;" th:text="${module1.getDescription()}"></textarea>
                            </div>
                        </div>

                        <div class="module-btns">
                            <button type="submit" class="cancel" th:attr="data-hystmodal='#delete_module' + ${module1.getId()}">Удалить</button>
                            <form th:action="@{/modules/update}" method="post" id="editForm">
                                <input type="hidden" name="id" th:value="${module1.getId()}" id="moduleId">
                                <input type="hidden" name="title" id="title">
                                <input type="hidden" name="description" id="description">
                                <button type="submit" class="ok" onclick="submitChanges()">Изменить</button>
                            </form>
                        </div>
                    </div>

                    <div class="hystmodal" th:id="${'delete_module' + module1.getId()}" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">
                                    <form th:action="@{/modules/delete}" method="post">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block">
                                                <h2 class="best-courses__title">Вы уверены?</h2>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center;">
                                                <input type="hidden" name="id" th:value="${module1.getId()}">
                                                <button type="submit" class="ok">Удалить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lessons">
                        <div class="module-item" th:each="lesson : ${lessons}">
                            <div class="lesson-details">
                                <div class="lesson-img">
                                    <img th:src="@{/images/learning.svg}" alt="lesson">
                                </div>
                                <h5><a th:href="@{/lessons(id=__${lesson.getId()}__)}" th:text="${lesson.getTitle()}"></a></h5>
                            </div>
                            <div class="module-actions">
                                <a href="" th:attr="data-hystmodal='#edit_lesson' + ${lesson.getId()}"><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                <a href="" th:attr="data-hystmodal='#delete_lesson' + ${lesson.getId()}"><img th:src="@{/images/delete.svg}" alt="delete"></a>
                            </div>

                            <div class="hystmodal" th:id="${'edit_lesson' + lesson.getId()}" aria-hidden="true">
                                <div class="hystmodal__wrap">
                                    <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                        <div class="add-note__block" style="width: 100%;">
                                            <form th:action="@{/notes/edit}" method="post">
                                                <div class="news-inputs__block new-note">
                                                    <div class="news-title__block">
                                                        <label class="label">Заголовок</label>
                                                        <input type="text" name="title" class="search-bar news-input" th:value="${lesson.getTitle()}">
                                                    </div>
                                                    <div class="news-description__block">
                                                        <label class="label">Текст</label>
                                                        <textarea name="text" class="search-bar news-input" style="margin-bottom: 1rem;" th:text="${lesson.getDescription()}"></textarea>
                                                    </div>
                                                    <div class="news-buttons">
                                                        <input type="hidden" name="id" th:value="${lesson.getId()}">
                                                        <button type="submit" class="ok" id="new-note-button1">Редактировать</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hystmodal" th:id="'delete_lesson' + ${lesson.getId()}" aria-hidden="true">
                                <div class="hystmodal__wrap">
                                    <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                        <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                            <!-- Форма удаления урока  -->
                                            <form th:action="@{/lessons/delete}" method="post" id="deleteForm">
                                                <div class="news-inputs__block new-note">
                                                    <div class="news-title__block">
                                                        <h2 class="best-courses__title">Вы уверены?</h2>
                                                    </div>
                                                    <div class="news-buttons" style="justify-content: center;">
                                                        <input type="hidden" name="id" th:value="${lesson.getId()}">
                                                        <button type="submit" class="ok">Удалить</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="module__new-lesson">
                        <a href="#" class="ok" data-hystmodal="#new_lesson">Новый урок</a>
                    </div>
                </div>
            </section>

            <section class="hystmodal" id="new_lesson" aria-hidden="true">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                        <div class="add-note__block" style="width: 100%;">

                            <!-- Форма Добавления урока  -->
                            <form th:action="@{/lessons/create}" method="post">
                                <div class="news-inputs__block new-note">
                                    <div class="news-title__block">
                                        <label for="news_title1" class="label">Заголовок</label>
                                        <input type="text" id="news_title1" name="title" class="search-bar news-input">
                                    </div>
                                    <div class="news-description__block">
                                        <label for="news_description1" class="label">Описание</label>
                                        <textarea name="description" id="news_description1"
                                                  class="search-bar news-input" style="margin-bottom: 1rem;"></textarea>
                                    </div>
                                    <div class="news-buttons">
                                        <input type="hidden" name="moduleId" th:value="${module1.getId()}">
                                        <button type="submit" class="ok" id="new-note-button">Добавить</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer sidebar-show__content">
        <div class="footer__inner">
            <div class="footer__makes-by">
                <span>ИС-4</span>
                <span>Ростовцев В.С.</span>
            </div>
            <div class="footer__diplom">
                <span>Дипломная работа</span>
            </div>
            <div class="footer__customer">
                <span>Техникум</span>
                <span>Бизнес и право</span>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/header.js}"></script>
    <script>
        const lesson_type = new HystModal({
            linkAttributeName: "data-hystmodal",
            // настройки (не обязательно), см. API
        });

        function submitChanges() {
            let title = document.getElementById('module_title').value;
            let description = document.getElementById('module_description').value;
            document.getElementById('title').value = title;
            document.getElementById('description').value = description;
            document.getElementById('editForm').submit();
        }
    </script>
</body>

</html>