<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="stylesheet" th:href="@{/css/hystmodal.min.css}">
    <script th:src="@{/js/hystmodal.min.js}"></script>
    <title>Модуль | eStudy</title>
</head>

<body>
    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
                <div>
                    <a th:href="@{/}" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="header__inner-item">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
                </a>
                <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                    <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                    <span class="down-triangle">&#9660;</span>
                </a>
                <div id="dropdownMenu" class="dropdown-menu">
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                        <li class="dropdown-item"><a href="#" class="dropdown-link">Что-то еще</a></li>
                        <li class="dropdown-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="sidebar" class="sidebar sidebar-show">
            <nav class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item">
                        <a th:href="@{/profile}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                     class="sidebar-menu__img">
                            </div>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" id="submenu">
                        <a href="#" class="sidebar-menu__link pull-out-menu">
                            <div class="sidebar-menu__title">
                                <div class="sidebar-menu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                                </div>
                                <span>Мои курсы</span>
                            </div>
                            <span class="down-triangle">&#9660;</span>
                        </a>
                    </li>

                    <!-- SUBMENU MY COURSES -->
                    <ul class="submenu__list sidebar-menu__list">
                        <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                            <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                                <span>Курсов нет</span>
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                            <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                <span th:text="${course.getTitle()}"></span>
                            </a>
                        </li>
                    </ul>

                    <li class="sidebar-menu__item">
                        <a th:href="@{/courses/catalog}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                            </div>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/calendar.svg}" alt="calendar" class="sidebar-menu__img">
                            </div>
                            <span>Календарь</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/news}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                            </div>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                            </div>
                            <span>Поддержка</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                            </div>
                            <span>О нас</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                            </div>
                            <span>Админ. панель</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content sidebar-show__content">
            <section class="module">
                <div class="bread-crumbs">
                    <a th:href="@{/courses(id=__${module1.getCourse().getId()}__)}" th:text="${module1.getCourse().getTitle()}" class="best-courses__title uline"></a>
                    <span class="best-courses__title"> -> </span>
                    <span th:text="${module1.getTitle()}" class="best-courses__title" style="text-decoration: underline;"></span>
                </div>
                <div class="module-block">
                    <div class="module-heading">
                        <div class="module-inputs">
                            <div class="news-title__block">
                                <label for="module_title" class="label">Заголовок</label>
                                <input type="text" id="module_title" name="title" class="search-bar news-input" th:value="${module1.getTitle()}">
                            </div>
                            <div class="news-description__block">
                                <label for="module_description" class="label">Описание</label>
                                <textarea name="description" id="module_description" class="search-bar news-input"
                                    style="height: 100px;" th:text="${module1.getDescription()}"></textarea>
                            </div>
                        </div>

                        <div class="module-btns">
                            <form th:action="@{/modules/delete}" method="post">
                                <input type="hidden" name="id" th:value="${module1.getId()}">
                                <button type="submit" class="cancel">Удалить</button>
                            </form>
                            <form th:action="@{/modules/update}" method="post" id="editForm">
                                <input type="hidden" name="id" th:value="${module1.getId()}" id="moduleId">
                                <input type="hidden" name="title" id="title">
                                <input type="hidden" name="description" id="description">
                                <button type="submit" class="ok" onclick="submitChanges()">Изменить</button>
                            </form>
                        </div>
                    </div>

                    <div class="lessons">
                        <div class="module-item">
                            <div class="lesson-details">
                                <div class="lesson-img">
                                    <img th:src="@{/images/lesson-theory.svg}" alt="theory lesson">
                                </div>
                                <h5><a href="">Урок 1</a></h5>
                            </div>
                            <div class="module-actions">
                                <a href=""><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                <a href=""><img th:src="@{/images/delete.svg}" alt="delete"></a>
                            </div>
                        </div>

                        <div class="module-item">
                            <div class="lesson-details">
                                <div class="lesson-img">
                                    <img th:src="@{/images/lesson-practice.svg}" alt="practice lesson">
                                </div>
                                <h5><a href="">Урок 2</a></h5>
                            </div>
                            <div class="module-actions">
                                <a href=""><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                <a href=""><img th:src="@{/images/delete.svg}" alt="delete"></a>
                            </div>
                        </div>

                        <div class="module-item">
                            <div class="lesson-details">
                                <div class="lesson-img">
                                    <img th:src="@{/images/lesson-practice.svg}" alt="practice lesson">
                                </div>
                                <h5><a href="">Урок 3</a></h5>
                            </div>
                            <div class="module-actions">
                                <a href=""><img th:src="@{/images/settings.svg}" alt="edit"></a>
                                <a href=""><img th:src="@{/images/delete.svg}" alt="delete"></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="module__new-lesson">
                        <a href="#" class="ok" data-hystmodal="#lesson_type">Новый урок</a>
                    </div>

                    <!-- MODAL -->
                    <div class="hystmodal" id="lesson_type" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 850px;">
                                <button data-hystclose class="hystmodal__close">Закрыть</button>
                                <div class="lesson-type-block">
                                    <h2 class="best-courses__title">Выберите тип урока</h2>

                                    <!-- Форма выбора типа курса -->
                                    <form th:action="@{/lessons/create}" method="get">
                                        <div class="availability-block" style="border: none;">
                                            <label class="availability-label">
                                                <input type="radio" name="type" value="THEORETICAL" checked>
                                                <div class="availability">
                                                    <img th:src="@{/images/lesson-theory.svg}" alt="public">
                                                    <div class="availability-details">
                                                        <h4 class="availability-title">Текстовый материал</h4>
                                                        <p class="availability-description">Статьи, лекции, учебники</p>
                                                    </div>
                                                </div>
                                            </label>
                                            <label class="availability-label">
                                                <input type="radio" name="type" value="PRACTICAL">
                                                <div class="availability">
                                                    <img th:src="@{/images/lesson-practice.svg}" alt="public">
                                                    <div class="availability-details">
                                                        <h4 class="availability-title">Практическое задание</h4>
                                                        <p class="availability-description">Проверка знаний студентов</p>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="lesson-type-btn">
                                            <button type="submit" class="ok">Выбрать</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer sidebar-show__content">
        <div class="footer__inner">
            <div class="footer__makes-by">
                <span>ИС-4</span>
                <span>Ростовцев В.С.</span>
            </div>
            <div class="footer__diplom">
                <span>Дипломная работа</span>
            </div>
            <div class="footer__customer">
                <span>Техникум</span>
                <span>Бизнес и право</span>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/header.js}"></script>
    <script>
        const lesson_type = new HystModal({
            linkAttributeName: "data-hystmodal",
            // настройки (не обязательно), см. API
        });

        function submitChanges() {
            let title = document.getElementById('module_title').value;
            let description = document.getElementById('module_description').value;
            document.getElementById('title').value = title;
            document.getElementById('description').value = description;
            document.getElementById('editForm').submit();
        }
    </script>
</body>

</html>