<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <title>Новости | eStudy</title>
</head>

<body>
    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
                <div>
                    <a th:href="@{/}" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="header__inner-item" sec:authorize="isAuthenticated()">
                <a href="#">
                    <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
                </a>
                <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                    <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                    <span class="down-triangle">&#9660;</span>
                </a>
                <div id="dropdownMenu" class="dropdown-menu">
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                        <li class="dropdown-item"><a href="#" class="dropdown-link">Что-то еще</a></li>
                        <li class="dropdown-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header__inner-item" sec:authorize="isAnonymous()">
                <a th:href="@{/auth/login}" class="header__inner-item auth">
                    <span class="header__inner-username">Войти</span>
                </a>
                <a th:href="@{/auth/registration}" class="header__inner-item auth">
                    <span class="header__inner-username">Зарегистрироваться</span>
                </a>
            </div>
        </div>

        <div id="sidebar" class="sidebar sidebar-show">
            <nav class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                     class="sidebar-menu__img">
                            </div>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" id="submenu" sec:authorize="isAuthenticated()">
                        <a href="#" class="sidebar-menu__link pull-out-menu">
                            <div class="sidebar-menu__title">
                                <div class="sidebar-menu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                                </div>
                                <span>Мои курсы</span>
                            </div>
                            <span class="down-triangle">&#9660;</span>
                        </a>
                    </li>

                    <!-- SUBMENU MY COURSES -->
                    <ul class="submenu__list sidebar-menu__list" sec:authorize="isAuthenticated()">
                        <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                            <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                                <span>Курсов нет</span>
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                            <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                <span th:text="${course.getTitle()}"></span>
                            </a>
                        </li>
                    </ul>

                    <li class="sidebar-menu__item">
                        <a th:href="@{/courses/catalog}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                            </div>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="isAuthenticated()">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/calendar.svg}" alt="calendar" class="sidebar-menu__img">
                            </div>
                            <span>Календарь</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/news}" class="sidebar-menu__link active">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                            </div>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                            </div>
                            <span>Поддержка</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                            </div>
                            <span>О нас</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                            </div>
                            <span>Админ. панель</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content sidebar-show__content">
            <section class="news">
                <div class="courses__block">
                    <div class="best-courses__details">
                        <h2 class="best-courses__title">Новости</h2>
                        <a th:href="@{/news/create}" class="ok">Добавить</a>
                    </div>

                    <div class="courses__list">
                        <div class="courses__item">
                            <div class="course__image-block">
                                <a href="#">
                                    <img th:src="@{/images/news.png}" alt="course" class="course__image">
                                </a>
                            </div>

                            <div class="course__details">
                                <div class="course__title-block">
                                    <h4 class="course__title">
                                        <a href="#" class="course__title-link">С Новым годом!</a>
                                    </h4>
                                    <div class="news-date__block">
                                        <span class="news-date">01.01.2024</span>
                                    </div>
                                </div>
                                <div class="course__by-block">
                                    <h5 class="course-author">
                                        <a href="#" class="course-author__link">Удав Безумный</a>
                                    </h5>
                                </div>
                                <div class="news__buttons">
                                    <a href="#" class="tag__link news__link">Читать</a>
                                </div>
                            </div>
                        </div>

                        <div class="courses__item">
                            <div class="course__image-block">
                                <a href="#">
                                    <img th:src="@{/images/news.png}" alt="course" class="course__image">
                                </a>
                            </div>
                            <div class="course__details">
                                <div class="course__title-block">
                                    <h4 class="course__title">
                                        <a href="#" class="course__title-link">С Новым годом!</a>
                                    </h4>
                                    <div class="news-date__block">
                                        <span class="news-date">01.01.2024</span>
                                    </div>
                                </div>
                                <div class="course__by-block">
                                    <h5 class="course-author">
                                        <a href="#" class="course-author__link">Удав Безумный</a>
                                    </h5>
                                </div>
                                <div class="news__buttons">
                                    <a href="#" class="tag__link news__link">Читать</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="courses__item">
                            <div class="course__image-block">
                                <a href="#">
                                    <img th:src="@{/images/news.png}" alt="course" class="course__image">
                                </a>
                            </div>
                            <div class="course__details">
                                <div class="course__title-block">
                                    <h4 class="course__title">
                                        <a href="#" class="course__title-link">С Новым годом!</a>
                                    </h4>
                                    <div class="news-date__block">
                                        <span class="news-date">01.01.2024</span>
                                    </div>
                                </div>
                                <div class="course__by-block">
                                    <h5 class="course-author">
                                        <a href="#" class="course-author__link">Удав Безумный</a>
                                    </h5>
                                </div>
                                <div class="news__buttons">
                                    <a href="#" class="tag__link news__link">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer sidebar-show__content">
        <div class="footer__inner">
            <div class="footer__makes-by">
                <span>ИС-4</span>
                <span>Ростовцев В.С.</span>
            </div>
            <div class="footer__diplom">
                <span>Дипломная работа</span>
            </div>
            <div class="footer__customer">
                <span>Техникум</span>
                <span>Бизнес и право</span>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/header.js}"></script>
</body>

</html>