<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="stylesheet" th:href="@{/css/hystmodal.min.css}">
    <script th:src="@{/js/hystmodal.min.js}"></script>
    <title>Личный кабинет | eStudy</title>
</head>

<body>
    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
                <div>
                    <a th:href="@{/}" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>

            <div class="header__inner-item">
                <a th:href="@{/profile}">
                    <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
                </a>
                <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                    <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                    <span class="down-triangle">&#9660;</span>
                </a>
                <div id="dropdownMenu" class="dropdown-menu">
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                        <li class="dropdown-item"><a th:href="@{/faq}" class="dropdown-link">Поддержка</a></li>
                        <li class="dropdown-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="sidebar" class="sidebar sidebar-show">
            <nav class="sidebar-menu">
                <ul class="sidebar-menu__list">
                    <li class="sidebar-menu__item">
                        <a th:href="@{/profile}" class="sidebar-menu__link active">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                     class="sidebar-menu__img">
                            </div>
                            <span>Личный кабинет</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" id="submenu">
                        <a href="#" class="sidebar-menu__link pull-out-menu">
                            <div class="sidebar-menu__title">
                                <div class="sidebar-menu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                                </div>
                                <span>Мои курсы</span>
                            </div>
                            <span class="down-triangle">&#9660;</span>
                        </a>
                    </li>

                    <!-- SUBMENU MY COURSES -->
                    <ul class="submenu__list sidebar-menu__list">
                        <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                            <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                                <span>Курсов нет</span>
                            </a>
                        </li>
                        <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                            <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                                <div class="submenu__img-block">
                                    <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                                </div>
                                <span th:text="${course.getTitle()}"></span>
                            </a>
                        </li>
                    </ul>

                    <li class="sidebar-menu__item">
                        <a th:href="@{/courses/catalog}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                            </div>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/news}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                            </div>
                            <span>Новости</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/faq}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                            </div>
                            <span>Поддержка</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a th:href="@{/about}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                            </div>
                            <span>О нас</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/admin}" class="sidebar-menu__link">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                            </div>
                            <span>Админ. панель</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content sidebar-show__content">
            <section class="profile-details">
                <div class="profile__block">
                    <div class="profile-img__block">
                        <img th:src="@{/images/profile.svg}" alt="profile" class="profile-image">
                    </div>

                    <div class="profile-details__block">
                        <div class="profile-username__block">
                            <h2 class="profile-username" th:text="${user.toFullName()}"></h2>
                            <div class="profile-settings">
                                <a href="#" class="profile-settings__link" data-hystmodal="#edit_profile">
                                    <img th:src="@{/images/settings.svg}" alt="settings" class="settings-image">
                                    <p>Настройки</p>
                                </a>
                            </div>
                        </div>
                        <div class="profile-additional">
                            <p class="gender">Пол: <span th:text="${user.getGender() != null ? user.getGender().getName() : 'Неопределено'}"></span></p>
                            <p class="age">Возраст: <span th:text="${user.getAge() != null ? user.getAge() : 'Неопределено'}"></span></p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="welcome">
                <div class="welcome__roles">
                    <div class="roles__item" id="toLearningList" data-hystmodal="#myLearning">
                        <div class="welcome__details">
                            <img th:src="@{/images/learning.svg}" alt="learning" class="details__image">
                            <div class="tag">
                                <a href="#" class="tag__link">Обучение</a>
                            </div>
                        </div>
                        <div class="welcome__title">
                            <h3>Мое обучение</h3>
                        </div>
                        <div class="welcome__description">
                            <p>На eStudy вы найдете доступ к широкому спектру курсов, которые помогут вам развивать свои навыки и знания</p>
                        </div>
                    </div>

                    <div class="roles__item" id="toTeachingList" data-hystmodal="#myTeaching">
                        <div class="welcome__details">
                            <img th:src="@{/images/teaching.svg}" alt="teaching" class="details__image">
                            <div class="tag">
                                <a href="#" class="tag__link">Преподавание</a>
                            </div>
                        </div>
                        <div class="welcome__title">
                            <h3>Мое преподавание</h3>
                        </div>
                        <div class="welcome__description">
                            <p>Делитесь знаниями в нашей электронной обучающей системе eStudy, создавая бесплатные курсы для других студентов</p>
                        </div>
                    </div>
                </div>

                <div class="welcome__roles">
                    <div class="roles__item" id="toFavoriteList" data-hystmodal="#myFavorites">
                    <div class="welcome__details">
                        <img th:src="@{/images/star.svg}" alt="learning" class="details__image">
                        <div class="tag">
                            <a href="#" class="tag__link">Избранное</a>
                        </div>
                    </div>
                    <div class="welcome__title">
                        <h3>Мое избранное</h3>
                    </div>
                    <div class="welcome__description">
                        <p>Здесь вы найдете курсы, добавленные вами ранее в избранное</p>
                    </div>
                </div>
                </div>
            </section>

            <section class="hystmodal" aria-hidden="true" id="myLearning">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                        <button data-hystclose class="hystmodal__close">Закрыть</button>
                        <div class="courses__block" style="max-height: 700px;">
                            <div class="best-courses__details">
                                <h2 class="best-courses__title">Мое обучение</h2>
                            </div>

                            <div class="courses__list">
                                <div th:if="${followed_courses.isEmpty()}" class="profile-additional empty_course">
                                    <span style="text-align: center;">Курсов нет.</span>
                                    <span style="text-align: center;">Поступите на свой первый курс!</span>
                                </div>
                                <div class="courses__item" th:each="course : ${followed_courses}">
                                    <div class="course__image-block">
                                        <a th:href="@{/courses(id=__${course.getId()}__)}">
                                            <div class="input-file-list">
                                                <div class="input-file-list-item">
                                                    <img th:src="@{/course/img/{id}(id=${course.getImage().getId()})}" alt="course" class="input-file-list-img">
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="course__details">
                                        <div class="course__title-block">
                                            <h4 class="course__title">
                                                <a th:href="@{/courses(id=__${course.getId()}__)}" class="course__title-link" th:text="${course.getTitle()}"></a>
                                            </h4>
                                            <div class="tag course-tag">
                                                <a href="#" class="tag__link" th:text="${course.getTag().getName()}"></a>
                                            </div>
                                        </div>
                                        <div class="course__by-block">
                                            <h5 class="course-author">
                                                <a th:href="@{/users(id=__${course.getAuthor().getId()}__)}" class="course-author__link" th:text="${course.getAuthor().getUsername()}"></a>
                                            </h5>
                                            <div class="course-rating__block">
                                                <img th:src="@{/images/star.svg}" alt="star" class="star">
                                                <p class="rating" th:text="${course.getRating()}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hystmodal" aria-hidden="true" id="myTeaching">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                        <button data-hystclose class="hystmodal__close">Закрыть</button>
                        <div class="courses__block" style="max-height: 700px;">
                            <div class="best-courses__details">
                                <h2 class="best-courses__title">Мои курсы</h2>
                                <a th:href="@{/courses/create}" class="ok">Добавить</a>
                            </div>

                            <div class="courses__list">
                                <div th:if="${my_courses.isEmpty()}" class="profile-additional empty_course">
                                    <span style="text-align: center;">Курсов нет.</span>
                                    <span style="text-align: center;">Создайте свой первый курс!</span>
                                </div>
                                <div class="courses__item" th:each="course : ${my_courses}">
                                    <div class="course__image-block">
                                        <a th:href="@{/courses(id=__${course.getId()}__)}">
                                            <div class="input-file-list">
                                                <div class="input-file-list-item">
                                                    <img th:src="@{/course/img/{id}(id=${course.getImage().getId()})}" alt="course" class="input-file-list-img">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="course__details">
                                        <div class="course__title-block">
                                            <h4 class="course__title">
                                                <a th:href="@{/courses(id=__${course.getId()}__)}" class="course__title-link" th:text="${course.getTitle()}"></a>
                                            </h4>
                                            <div class="tag course-tag">
                                                <a href="#" class="tag__link" th:text="${course.getTag().getName()}"></a>
                                            </div>
                                        </div>
                                        <div class="course__by-block">
                                            <h5 class="course-author">
                                                <a th:href="@{/users(id=__${course.getAuthor().getId()}__)}" class="course-author__link" th:text="${course.getAuthor().getUsername()}"></a>
                                            </h5>
                                            <div class="course-rating__block">
                                                <img th:src="@{/images/star.svg}" alt="star" class="star">
                                                <p class="rating" th:text="${course.getRating()}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hystmodal" aria-hidden="true" id="myFavorites">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                        <button data-hystclose class="hystmodal__close">Закрыть</button>
                        <div class="courses__block" style="max-height: 700px;">
                            <div class="best-courses__details">
                                <h2 class="best-courses__title">Мое Избранное</h2>
                            </div>

                            <div class="courses__list">
                                <div th:if="${favorites_courses.isEmpty()}" class="profile-additional empty_course">
                                    <span style="text-align: center;">Курсов нет.</span>
                                    <span style="text-align: center;">Внесите в список любой понравившийся вам курс!</span>
                                </div>
                                <div class="courses__item" th:each="course : ${favorites_courses}">
                                    <div class="course__image-block">
                                        <a th:href="@{/courses(id=__${course.getId()}__)}">
                                            <div class="input-file-list">
                                                <div class="input-file-list-item">
                                                    <img th:src="@{/course/img/{id}(id=${course.getImage().getId()})}" alt="course" class="input-file-list-img">
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="course__details">
                                        <div class="course__title-block">
                                            <h4 class="course__title">
                                                <a th:href="@{/courses(id=__${course.getId()}__)}" class="course__title-link" th:text="${course.getTitle()}"></a>
                                            </h4>
                                            <div class="tag course-tag">
                                                <a href="#" class="tag__link" th:text="${course.getTag().getName()}"></a>
                                            </div>
                                        </div>
                                        <div class="course__by-block">
                                            <h5 class="course-author">
                                                <a th:href="@{/users(id=__${course.getAuthor().getId()}__)}" class="course-author__link" th:text="${course.getAuthor().getUsername()}"></a>
                                            </h5>
                                            <div class="course-rating__block">
                                                <img th:src="@{/images/star.svg}" alt="star" class="star">
                                                <p class="rating" th:text="${course.getRating()}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hystmodal" aria-hidden="true" id="edit_profile">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                        <div class="registration-block">
                            <h2 class="best-courses__title" style="text-align: center;">Редактирование</h2>

                            <div th:if="${error}" class="reg-error">
                                <p th:text="${error}"></p>
                            </div>

                            <form th:action="@{/users/update}" th:method="post" class="registration-form">
                                <div class="registration-item">
                                    <input type="text" name="username" class="search-bar news-input"
                                           th:value="${user.getUsername()}" placeholder="Имя пользователя" required>
                                    <input type="text" name="surname" class="search-bar news-input"
                                           th:value="${user.getSurname()}" placeholder="Фамилия" required>
                                    <input type="text" name="name" class="search-bar news-input"
                                           th:value="${user.getName()}" placeholder="Имя" required>
                                    <input type="text" name="patronymic" class="search-bar news-input"
                                           th:value="${user.getPatronymic()}" placeholder="Отчество">
                                    <input type="date" name="birthDate" class="search-bar news-input"
                                           th:value="${user.getBirthDate()}" placeholder="Возраст" required>
                                    <p style="color: #c5c5c5;">Пол:</p>
                                    <div class="availability-block" style="border: none; padding: 0;">
                                        <label class="availability-label">
                                            <input type="radio" name="gender" value="MALE" th:checked="${user.getGender() != null && user.getGender().getName() == 'Мужской'}">
                                            <div class="availability">
                                                <img th:src="@{/images/male.svg}" alt="male">
                                                <div class="availability-details">
                                                    <h4 class="availability-title" style="color: #6C7293;">Мужской</h4>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="availability-label">
                                            <input type="radio" name="gender" value="FEMALE" th:checked="${user.getGender() != null && user.getGender().getName() == 'Женский'}">
                                            <div class="availability">
                                                <img th:src="@{/images/female.svg}" alt="female">
                                                <div class="availability-details">
                                                    <h4 class="availability-title" style="color: #6C7293;">Женский</h4>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <input type="email" name="email" class="search-bar news-input"
                                           th:value="${user.getEmail()}" placeholder="Электронная почта" required>
                                    <div class="registration-buttons" style="justify-content: center;">
                                        <input type="hidden" name="id" th:value="${user.getId()}">
                                        <button type="submit" class="ok">Изменить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer sidebar-show__content">
        <div class="footer__inner">
            <div class="footer__makes-by">
                <span>ИС-4</span>
                <span>Ростовцев В.С.</span>
            </div>
            <div class="footer__diplom">
                <span>Дипломная работа</span>
            </div>
            <div class="footer__customer">
                <span>Техникум</span>
                <span>Бизнес и право</span>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script>
        const myLearning = new HystModal({
            linkAttributeName: "data-hystmodal",
            // настройки (не обязательно), см. API
        });
        const myTeaching = new HystModal({
            linkAttributeName: "data-hystmodal",
            // настройки (не обязательно), см. API
        });
        const myFavorites = new HystModal({
            linkAttributeName: "data-hystmodal",
            // настройки (не обязательно), см. API
        });
    </script>
</body>

</html>