<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{'/css/' + ${theme != null ? theme : 'light'} + '.css'}" id="theme">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.svg}">
    <title>Регистрация | eStudy</title>
</head>

<body>
    <header id="header" class="header">
        <div class="header__inner">
            <div class="header__inner-item">
                <div>
                    <a th:href="@{/}" class="logo__link">
                        <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                    </a>
                </div>
            </div>
            <div class="header__inner-item">
                <div class="theme-block">
                    <img th:src="@{/images/sun.svg}" alt="theme">
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div id="content" class="content">
            <div class="registration-block">
                <h2 class="best-courses__title" style="text-align: center;">Регистрация</h2>
                <p class="auth-link">Уже есть аккаунт? <a th:href="@{/auth/login}">Войти</a></p>

                <div th:if="${error}" class="reg-error">
                    <p th:text="${error}"></p>
                </div>

                <form th:action="@{/auth/registration}" th:method="post" class="registration-form">
                    <div class="registration-item" id="step1">
                        <input type="text" name="username" class="search-bar news-input"
                               placeholder="Имя пользователя*" required>
                        <input type="text" name="surname" class="search-bar news-input"
                               placeholder="Фамилия*" required>
                        <input type="text" name="name" class="search-bar news-input"
                            placeholder="Имя*" required>
                        <input type="text" name="patronymic" class="search-bar news-input"
                            placeholder="Отчество">
                        <input type="date" name="birthDate" class="search-bar news-input" placeholder="Дата рождения*" required>
                        <div class="registration-buttons" style="justify-content: end;">
                            <button type="button" class="ok" id="to_step2" onclick="nextSection()">Далее</button>
                        </div>
                    </div>
                    <div class="registration-item" id="step2" style="display: none;">
                        <p style="color: #c5c5c5;">Пол*:</p>
                        <div class="availability-block" style="border: none; padding: 0;">
                            <label class="availability-label">
                                <input type="radio" name="gender" value="MALE" checked>
                                <div class="availability">
                                    <img th:src="@{/images/male.svg}" alt="male">
                                    <div class="availability-details">
                                        <h4 class="availability-title" style="color: #6C7293;">Мужской</h4>
                                    </div>
                                </div>
                            </label>
                            <label class="availability-label">
                                <input type="radio" name="gender" value="FEMALE">
                                <div class="availability">
                                    <img th:src="@{/images/female.svg}" alt="female">
                                    <div class="availability-details">
                                        <h4 class="availability-title" style="color: #6C7293;">Женский</h4>
                                    </div>
                                </div>
                            </label>
                        </div>
                        <input type="email" name="email" class="search-bar news-input"
                            placeholder="Электронная почта*" required>
                        <input type="password" name="password" class="search-bar news-input"
                            placeholder="Пароль*" required>
                        <div class="registration-buttons">
                            <button type="button" class="cancel" id="to_step1" onclick="prevSection()">Вернуться</button>
                            <button class="ok" id="registr" onclick="complete()">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
                <div style="display: flex; justify-content: center; margin-top: 1rem;">
                    <a class="oauth-link" th:href="@{/oauth2/authorization/google}">
                        <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Login with Google
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">

    </footer>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/js/toggle_theme.js}"></script>
    <script>
        let currentSection = 1;

        function nextSection() {
            let inputs = document.getElementById('step' + currentSection).getElementsByTagName('input');
            for (let i = 0; i < inputs.length; i++) {
                if (i === 3) continue;
                if (inputs[i].value.trim() === '') {
                    alert('Пожалуйста, заполните все поля');
                    return;
                }
            }
            document.getElementById('step' + currentSection).style.display = 'none';
            currentSection++;
            document.getElementById('step' + currentSection).style.display = 'flex';
        }

        function prevSection() {
            document.getElementById('step' + currentSection).style.display = 'none';
            currentSection--;
            document.getElementById('step' + currentSection).style.display = 'flex';
        }

        function complete() {
            let inputs = document.getElementById('step' + currentSection).getElementsByTagName('input');
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].value.trim() === '') {
                    alert('Пожалуйста, заполните все поля');
                    return false;
                }
            }
            return true;
        }
    </script>
</body>

</html>