<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{'/css/' + ${theme != null ? theme : 'light'} + '.css'}" id="theme">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="stylesheet" th:href="@{/css/flash.min.css}">
    <link rel="stylesheet" th:href="@{/css/hystmodal.min.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.svg}">
    <script th:src="@{/js/hystmodal.min.js}"></script>
    <title>Практическое занятие | eStudy</title>
</head>

<body>
<header id="header" class="header">
    <div class="header__inner">
        <div class="header__inner-item">
            <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
            <div>
                <a th:href="@{/}" class="logo__link">
                    <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                </a>
            </div>
        </div>

        <div class="header__inner-item">
            <div class="theme-block">
                <img th:src="@{/images/sun.svg}" alt="theme">
            </div>
            <a th:href="@{/profile}">
                <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
            </a>
            <a th:href="@{/profile}" class="header__inner-item is_authenticated" id="dropdown-button">
                <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                <span class="down-triangle">&#9660;</span>
            </a>
            <div id="dropdownMenu" class="dropdown-menu">
                <ul class="dropdown-list">
                    <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                    <li class="dropdown-item"><a th:href="@{/faq}" class="dropdown-link">Поддержка</a></li>
                    <li class="dropdown-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sidebar" class="sidebar sidebar-show">
        <nav class="sidebar-menu">
            <ul class="sidebar-menu__list">
                <li class="sidebar-menu__item">
                    <a th:href="@{/profile}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                 class="sidebar-menu__img">
                        </div>
                        <span>Личный кабинет</span>
                    </a>
                </li>
                <li class="sidebar-menu__item" id="submenu">
                    <a href="#" class="sidebar-menu__link pull-out-menu">
                        <div class="sidebar-menu__title">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                            </div>
                            <span>Мои курсы</span>
                        </div>
                        <span class="down-triangle">&#9660;</span>
                    </a>
                </li>

                <!-- SUBMENU MY COURSES -->
                <ul class="submenu__list sidebar-menu__list">
                    <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                        <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                            <span>Курсов нет</span>
                        </a>
                    </li>
                    <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                        <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                            <div class="submenu__img-block">
                                <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                            </div>
                            <span th:text="${course.getTitle()}"></span>
                        </a>
                    </li>
                </ul>

                <li class="sidebar-menu__item">
                    <a th:href="@{/courses/catalog}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                        </div>
                        <span>Каталог</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a th:href="@{/news}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                        </div>
                        <span>Новости</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a th:href="@{/faq}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                        </div>
                        <span>Поддержка</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a th:href="@{/about}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                        </div>
                        <span>О нас</span>
                    </a>
                </li>
                <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                        </div>
                        <span>Админ. панель</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main class="main">
    <div id="content" class="content sidebar-show__content">
        <section class="theory-lesson">
            <div class="bread-crumbs">
                <a th:href="@{/courses(id=__${sort.getPracticalContent().getLesson().getModule().getCourse().getId()}__)}" title="курс"
                   th:text="${sort.getPracticalContent().getLesson().getModule().getCourse().getTitle()}" class="best-courses__title uline"></a>
                <span class="best-courses__title"> -> </span>
                <a th:href="@{/modules(id=__${sort.getPracticalContent().getLesson().getModule().getId()}__)}" title="модуль"
                   th:text="${sort.getPracticalContent().getLesson().getModule().getTitle()}" class="best-courses__title uline"></a>
                <span class="best-courses__title"> -> </span>
                <a th:href="@{/lessons(id=__${sort.getPracticalContent().getLesson().getId()}__)}" title="урок"
                   th:text="${sort.getPracticalContent().getLesson().getTitle()}" class="best-courses__title uline"></a>
                <span class="best-courses__title"> -> </span>
                <span th:text="${sort.getPracticalContent().getTitle()}" title="занятие" class="best-courses__title" style="text-decoration: underline;"></span>
            </div>

            <div class="practice-lesson-block">
                <div class="practice-lesson-main">

                    <!-- Задача на сортировку -->
                    <div class="theory-lesson-content" id="sort">
                        <form th:action="@{/practical/sort/update}" method="post">
                            <div class="lesson-inputs">
                                <div class="module-inputs">
                                    <div class="news-title__block">
                                        <label class="label sort_label">Заголовок</label>
                                        <input type="text" name="title" required
                                               class="search-bar news-input" th:value="${sort.getTitle()}">
                                    </div>
                                    <div class="news-description__block">
                                        <label class="label sort_label">Условие задачи</label>
                                        <textarea name="description" th:text="${sort.getDescription()}"
                                                  class="search-bar news-input" style="height: 100px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="sort-list">
                                <div class="sort-head">
                                    <span>Элемент</span>
                                </div>
                                <div class="sort-elements" style="align-items: center; margin-top: 0;">
                                    <div class="sort-item" style="justify-content: space-between; width: 40%;" th:each="element : ${sort.getElements()}">
                                        <div class="news-description__block">
                                            <span class="label sort_label" th:text="${element.getContent()}"></span>
                                        </div>
                                        <input type="hidden" name="position" th:value="${element.getPosition()}">
                                        <input type="hidden" name="elementId" th:value="${element.getId()}">
                                        <button th:attr="data-hystmodal='#delete_element' + ${element.getId()}" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                <line x1="0" y1="0" x2="20" y2="20" stroke="#6C7293" stroke-width="3" />
                                                <line x1="20" y1="0" x2="0" y2="20" stroke="#6C7293" stroke-width="3" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="spaces-btns" style="justify-content: center;">
                                <button type="button" class="ok" data-hystmodal="#add_item">Добавить элемент</button>
                            </div>
                            <div class="text-btns">
                                <input type="hidden" name="id" th:value="${sort.getId()}">
                                <button type="button" class="cancel" data-hystmodal="#show">Перейти к просмотру</button>
                                <button type="submit" class="ok">Сохранить</button>
                            </div>
                        </form>
                    </div>

                    <!-- ДОБАВЛЕНИЕ НОВОГО ЭЛЕМЕНТА -->
                    <div class="hystmodal" id="add_item" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                    <form th:action="@{/practical/sort/element/create}" method="post">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block" style="align-items: center">
                                                <label for="news_title2" class="label sort_label" style="margin-bottom: .5rem">Значение</label>
                                                <input type="text" id="news_title2" name="content" class="search-bar news-input" required>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center">
                                                <input type="hidden" name="taskId" th:value="${sort.getId()}">
                                                <button type="submit" class="ok" style="margin-top: 1rem;">Добавить</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- УДАЛЕНИЕ ЭЛЕМЕНТА -->
                    <div class="hystmodal" th:each="element : ${sort.getElements()}" th:id="delete_element + ${element.getId()}" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                    <!-- Форма удаления урока  -->
                                    <form th:action="@{/practical/sort/element/delete}" method="post">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block">
                                                <h2 class="best-courses__title">Вы уверены?</h2>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center;">
                                                <input type="hidden" name="item_id" th:value="${element.getId()}">
                                                <button type="submit" class="ok">Удалить</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ЗАДАЧА СО СТОРОНЫ ПОЛЬЗОВАТЕЛЯ -->
                    <div class="hystmodal" id="show" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 100%; height: 100%; display: flex;">
                                <div class="practice-lesson-block" style="width: 800px; margin: auto;">
                                    <div class="practice-lesson-main">
                                        <div class="theory-lesson-content">
                                            <div class="lesson-inputs">
                                                <div class="module-inputs">
                                                    <div class="news-title__block">
                                                        <h3 class="best-courses__title" th:text="${sort.getTitle()}"></h3>
                                                    </div>
                                                    <div class="news-description__block">
                                                        <p class="label sort_label" th:text="${sort.getDescription()}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sort-list">
                                                <div class="sort-head">
                                                    <span>Элементы</span>
                                                </div>
                                                <div class="sort-elements1" style="align-items: center; margin-top: 0;">
                                                    <div class="sort-item1" style="justify-content: space-between; width: 40%;" th:each="element : ${sort.getShuffledElements()}">
                                                        <div class="news-description__block">
                                                            <span class="label sort_label" th:text="${element.getContent()}"></span>
                                                        </div>
                                                        <input type="hidden" name="elementId" th:value="${element.getId()}">
                                                        <button th:attr="data-hystmodal='#delete_element' + ${element.getId()}" type="button">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                                <line x1="0" y1="0" x2="20" y2="20" stroke="#6C7293" stroke-width="3" />
                                                                <line x1="20" y1="0" x2="0" y2="20" stroke="#6C7293" stroke-width="3" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="sort_flag" value="false">
                                            <div class="text-btns">
                                                <input type="hidden" name="sort_id" th:value="${sort.getId()}">
                                                <button type="submit" class="ok sortOk" id="sort_check">Ответить</button>
                                                <div id="sort_result"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer class="footer sidebar-show__content">

</footer>

<script th:src="@{https://code.jquery.com/jquery-3.7.1.js}"></script>
<script th:src="@{https://code.jquery.com/ui/1.13.3/jquery-ui.js}"></script>
<script th:src="@{/js/toggle_theme.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/tab.js}"></script>
<script th:src="@{/js/flash.min.js}"></script>
<script th:src="@{/js/sort_task.js}"></script>
<script>
    const new_note = new HystModal({
        linkAttributeName: "data-hystmodal",
        // настройки (не обязательно), см. API
    });
</script>
</body>

</html>