<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="stylesheet" th:href="@{/css/hystmodal.min.css}">
    <script th:src="@{/js/hystmodal.min.js}"></script>
    <title>Теоретическое занятие | eStudy</title>
</head>

<body>
<header id="header" class="header">
    <div class="header__inner">
        <div class="header__inner-item">
            <img th:src="@{/images/sidebar_button.svg}" alt="sidebar_button" id="toggleSidebar">
            <div>
                <a th:href="@{/}" class="logo__link">
                    <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
                </a>
            </div>
        </div>

        <div class="header__inner-item">
            <a th:href="@{/profile}">
                <img th:src="@{/images/profile.svg}" alt="profile" class="header__inner-profile">
            </a>
            <a href="#" class="header__inner-item is_authenticated" id="dropdown-button">
                <span class="header__inner-username" th:text="${user.getUsername()}"></span>
                <span class="down-triangle">&#9660;</span>
            </a>
            <div id="dropdownMenu" class="dropdown-menu">
                <ul class="dropdown-list">
                    <li class="dropdown-item"><a th:href="@{/profile}" class="dropdown-link">Личный кабинет</a></li>
                    <li class="dropdown-item"><a th:href="@{/faq}" class="dropdown-link">Поддержка</a></li>
                    <li class="dropdown-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-link dropdown-button">Выйти</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sidebar" class="sidebar sidebar-show">
        <nav class="sidebar-menu">
            <ul class="sidebar-menu__list">
                <li class="sidebar-menu__item">
                    <a th:href="@{/profile}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/personal_account.svg}" alt="personal account"
                                 class="sidebar-menu__img">
                        </div>
                        <span>Личный кабинет</span>
                    </a>
                </li>
                <li class="sidebar-menu__item" id="submenu">
                    <a href="#" class="sidebar-menu__link pull-out-menu">
                        <div class="sidebar-menu__title">
                            <div class="sidebar-menu__img-block">
                                <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="sidebar-menu__img">
                            </div>
                            <span>Мои курсы</span>
                        </div>
                        <span class="down-triangle">&#9660;</span>
                    </a>
                </li>

                <!-- SUBMENU MY COURSES -->
                <ul class="submenu__list sidebar-menu__list">
                    <li class="submenu__item sidebar-menu__item" th:if="${followed_courses.isEmpty()}">
                        <a th:href="@{/courses/catalog}" class="submenu__link sidebar-menu__link my-courses__link">
                            <span>Курсов нет</span>
                        </a>
                    </li>
                    <li class="submenu__item sidebar-menu__item" th:each="course : ${followed_courses}">
                        <a th:href="@{/courses(id=__${course.getId()}__)}" class="submenu__link sidebar-menu__link my-courses__link">
                            <div class="submenu__img-block">
                                <img th:src="@{/images/sidebar/my_courses.svg}" alt="my courses" class="submenu__img">
                            </div>
                            <span th:text="${course.getTitle()}"></span>
                        </a>
                    </li>
                </ul>

                <li class="sidebar-menu__item">
                    <a th:href="@{/courses/catalog}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/catalog.svg}" alt="catalog" class="sidebar-menu__img">
                        </div>
                        <span>Каталог</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a th:href="@{/news}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/news.svg}" alt="news" class="sidebar-menu__img">
                        </div>
                        <span>Новости</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a th:href="@{/faq}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/support.svg}" alt="support" class="sidebar-menu__img">
                        </div>
                        <span>Поддержка</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a th:href="@{/about}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/about.svg}" alt="about" class="sidebar-menu__img">
                        </div>
                        <span>О нас</span>
                    </a>
                </li>
                <li class="sidebar-menu__item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin}" class="sidebar-menu__link">
                        <div class="sidebar-menu__img-block">
                            <img th:src="@{/images/sidebar/admin_panel.svg}" alt="admin_panel" class="sidebar-menu__img">
                        </div>
                        <span>Админ. панель</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main class="main">
    <div id="content" class="content sidebar-show__content">
        <section class="lesson-data" style="margin-bottom: 30px;">

            <div class="bread-crumbs">
                <a th:href="@{/courses(id=__${content.getLesson().getModule().getCourse().getId()}__)}" title="Курс" th:text="${content.getLesson().getModule().getCourse().getTitle()}" class="best-courses__title uline"></a>
                <span class="best-courses__title"> -> </span>
                <a th:href="@{/modules(id=__${content.getLesson().getModule().getId()}__)}" title="Модуль" th:text="${content.getLesson().getModule().getTitle()}" class="best-courses__title uline"></a>
                <span class="best-courses__title"> -> </span>
                <a th:href="@{/lessons(id=__${content.getLesson().getId()}__)}" title="Урок" th:text="${content.getLesson().getTitle()}" class="best-courses__title uline"></a>
                <span class="best-courses__title"> -> </span>
                <span th:text="${content.getTitle()}" title="Занятие" class="best-courses__title" style="text-decoration: underline;"></span>
            </div>

            <!-- Форма редактрования теоретического контента -->
            <form th:action="@{/theoretical/update}" method="post">
                <div class="add-news__block">
                    <div class="best-courses__details news__details">
                        <h2 class="best-courses__title">Теоретическое занятие</h2>
                    </div>

                    <div class="news-details__block" style="display: block; margin-bottom: 1rem;">
                        <div class="news-inputs__block">
                            <div class="news-title__block">
                                <label for="news_title" class="label">Заголовок</label>
                                <input type="text" id="news_title" name="title" class="search-bar news-input" th:value="${content.getTitle()}" required>
                            </div>
                            <div class="news-description__block">
                                <label for="news_description" class="label">Описание</label>
                                <textarea name="description" id="news_description"
                                          class="search-bar news-input" th:text="${content.getDescription()}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="course-btns">
                        <input type="hidden" name="id" th:value="${content.getId()}">
                        <button class="ok" type="submit">Изменить</button>
                    </div>
                </div>
            </form>

        </section>

        <section class="theory-lesson">
            <div class="theory-lesson-block">
                <div class="theory-lesson-main" style="width: 100%;" th:if="${content.getChapters().isEmpty()}">
                    <div class="lesson-tools" style="display: block;">
                        <div class="lesson-tools-item" data-hystmodal='#new_chapter'>
                            <span>Добавить раздел</span>
                        </div>
                    </div>
                    <div class="theory-lesson-content">
                        <div class="empty-block">
                            <p>В уроке пока нет обучающих материалов.</p>
                            <p>Добавьте раздел, чтобы была возможность добавить обучающие материалы!</p>
                        </div>
                    </div>
                </div>
                <div class="theory-lesson-main" th:each="chapter, iterStat : ${content.getChapters()}"
                     th:id="${'chapter' + chapter.getId()}" th:style="${!iterStat.first ? 'display: none; width: 100%;' : 'width: 100%;'}">
                    <div class="lesson-tools" style="border-top-left-radius: 10px;">
                        <div class="lesson-tools-item" style="border-top-left-radius: 10px;" data-hystmodal='#new_chapter'>
                            <span>Добавить раздел</span>
                        </div>
                        <div class="lesson-tools-item" th:attr="data-hystmodal='#new_title' + ${chapter.getId()}">
                            <span>Добавить заголовок</span>
                        </div>
                        <div class="lesson-tools-item" th:attr="data-hystmodal='#new_image' + ${chapter.getId()}">
                            <span>Добавить изображение</span>
                        </div>
                        <div class="lesson-tools-item" th:attr="data-hystmodal='#new_text' + ${chapter.getId()}">
                            <span>Добавить текст</span>
                        </div>
                    </div>

                    <!-- СОДЕРЖИМОЕ ЗАНЯТИЯ -->
                    <div class="theory-lesson-content">
                        <div class="lesson-actions">
                            <h3 class="lesson-chapter" style="text-decoration: underline;" th:text="${chapter.getName()}"></h3>
                            <div class="module-actions" style="min-width: 50px; align-items: start;">
                                <a href="" th:attr="data-hystmodal='#edit_chapter' + ${chapter.getId()}">
                                    <img th:src="@{/images/settings.svg}" alt="edit" title="Редактировать">
                                </a>
                                <a href="" th:attr="data-hystmodal='#delete_chapter' + ${chapter.getId()}">
                                    <img th:src="@{/images/delete.svg}" alt="delete">
                                </a>
                            </div>
                        </div>
                        <div th:each="item : ${chapter.getCombinedContent()}" th:utext="${item.getContent()}"></div>
                    </div>

                    <!-- РЕДАКТИРОВАНИЕ И УДАЛЕНИЕ ЗАГОЛОВКОВ -->
                    <div th:each="item : ${chapter.getTitles()}">
                        <div class="hystmodal" th:id="${'edit_title' + item.getId()}" aria-hidden="true">
                            <div class="hystmodal__wrap">
                                <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                    <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                        <!-- Форма редактирования текста  -->
                                        <form th:action="@{/titles/update}" method="post">
                                            <div class="news-inputs__block new-note">
                                                <div class="news-title__block" style="align-items: center">
                                                    <label class="label" style="margin-bottom: .5rem">Заголовок</label>
                                                    <input type="text" name="value" class="search-bar news-input" th:value="${item.getValue()}" required>
                                                </div>
                                                <div class="news-buttons" style="justify-content: center">
                                                    <input type="hidden" name="id" th:value="${item.getId()}">
                                                    <button type="submit" class="ok" style="margin-top: 1rem;">Редактировать</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hystmodal" th:id="${'delete_title' + item.getId()}" aria-hidden="true">
                            <div class="hystmodal__wrap">
                                <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                    <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                        <!-- Форма удаления текста  -->
                                        <form th:action="@{/titles/delete}" method="post">
                                            <div class="news-inputs__block new-note">
                                                <div class="news-title__block">
                                                    <h2 class="best-courses__title">Вы уверены?</h2>
                                                </div>
                                                <div class="news-buttons" style="justify-content: center;">
                                                    <input type="hidden" name="id" th:value="${item.getId()}">
                                                    <button type="submit" class="ok">Удалить</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- РЕДАКТИРОВАНИЕ И УДАЛЕНИЕ ТЕКСТОВ -->
                    <div th:each="item : ${chapter.getTexts()}">
                        <div class="hystmodal" th:id="${'edit_text' + item.getId()}" aria-hidden="true">
                            <div class="hystmodal__wrap">
                                <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                    <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                        <!-- Форма редактирования текста  -->
                                        <form th:action="@{/texts/update}" method="post" style="width: 100%">
                                            <div class="news-inputs__block new-note">
                                                <div class="news-title__block" style="align-items: center">
                                                    <label class="label" style="margin-bottom: .5rem">Текст</label>
                                                    <textarea name="value" class="search-bar news-input" style="height: 100px" th:text="${item.getValue()}" required></textarea>
                                                </div>
                                                <div class="news-buttons" style="justify-content: center">
                                                    <input type="hidden" name="id" th:value="${item.getId()}">
                                                    <button type="submit" class="ok" style="margin-top: 1rem;">Редактировать</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hystmodal" th:id="${'delete_text' + item.getId()}" aria-hidden="true">
                            <div class="hystmodal__wrap">
                                <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                    <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                        <!-- Форма удаления текста  -->
                                        <form th:action="@{/texts/delete}" method="post">
                                            <div class="news-inputs__block new-note">
                                                <div class="news-title__block">
                                                    <h2 class="best-courses__title">Вы уверены?</h2>
                                                </div>
                                                <div class="news-buttons" style="justify-content: center;">
                                                    <input type="hidden" name="id" th:value="${item.getId()}">
                                                    <button type="submit" class="ok">Удалить</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- РЕДАКТИРОВАНИЕ И УДАЛЕНИЕ ИЗОБРАЖЕНИЙ -->
                    <div th:each="item : ${chapter.getImages()}">
                        <div class="hystmodal" th:id="${'edit_image' + item.getId()}" aria-hidden="true">
                            <div class="hystmodal__wrap">
                                <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                    <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                        <form th:action="@{/images/update}" method="post" style="width: 100%" enctype="multipart/form-data">
                                            <div class="news-inputs__block new-note">
                                                <div class="news-title__block" style="align-items: center">
                                                    <label class="label" style="margin-bottom: .5rem">Изображение</label>
                                                    <input type="file" name="image" required>
                                                </div>
                                                <div class="news-buttons" style="justify-content: center">
                                                    <input type="hidden" name="id" th:value="${item.getId()}">
                                                    <input type="hidden" name="chapterId" th:value="${chapter.getId()}">
                                                    <button type="submit" class="ok" style="margin-top: 1rem;">Редактировать</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hystmodal" th:id="${'delete_image' + item.getId()}" aria-hidden="true">
                            <div class="hystmodal__wrap">
                                <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                    <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                        <!-- Форма удаления текста  -->
                                        <form th:action="@{/images/delete}" method="post">
                                            <div class="news-inputs__block new-note">
                                                <div class="news-title__block">
                                                    <h2 class="best-courses__title">Вы уверены?</h2>
                                                </div>
                                                <div class="news-buttons" style="justify-content: center;">
                                                    <input type="hidden" name="id" th:value="${item.getId()}">
                                                    <button type="submit" class="ok">Удалить</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- РЕДАКТИРОВАНИЕ РАЗДЕЛА -->
                    <div class="hystmodal" th:id="${'edit_chapter' + chapter.getId()}" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                    <!-- Форма редактирования раздела  -->
                                    <form th:action="@{/chapters/update}" method="post">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block" style="align-items: center">
                                                <label class="label" style="margin-bottom: .5rem">Название раздела</label>
                                                <input type="text" name="name" class="search-bar news-input" th:value="${chapter.getName()}" required>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center">
                                                <input type="hidden" name="id" th:value="${chapter.getId()}">
                                                <button type="submit" class="ok" style="margin-top: 1rem;">Редактировать</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- УДАЛЕНИЕ РАЗДЕЛА -->
                    <div class="hystmodal" th:id="${'delete_chapter' + chapter.getId()}" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                    <!-- Форма удаления раздела  -->
                                    <form th:action="@{/chapters/delete}" method="post">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block">
                                                <h2 class="best-courses__title">Вы уверены?</h2>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center;">
                                                <input type="hidden" name="id" th:value="${chapter.getId()}">
                                                <button type="submit" class="ok">Удалить</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ДОБАВЛЕНИЕ ЗАГОЛОВКА -->
                    <div class="hystmodal" th:id="${'new_title' + chapter.getId()}" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                    <!-- Форма Добавления заголовка  -->
                                    <form th:action="@{/titles/create}" method="post">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block" style="align-items: center">
                                                <label for="news_title2" class="label" style="margin-bottom: .5rem">Заголовок</label>
                                                <input type="text" id="news_title2" name="value" class="search-bar news-input" required>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center">
                                                <input type="hidden" name="chapterId" th:value="${chapter.getId()}">
                                                <button type="submit" class="ok" style="margin-top: 1rem;">Добавить</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ДОБАВЛЕНИЕ ТЕКСТА -->
                    <div class="hystmodal" th:id="${'new_text' + chapter.getId()}" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                    <!-- Форма Добавления текста  -->
                                    <form th:action="@{/texts/create}" method="post" style="width: 100%">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block" style="align-items: center">
                                                <label for="news_title3" class="label" style="margin-bottom: .5rem">Введите текст</label>
                                                <textarea name="value" id="news_title3" class="search-bar news-input" style="height: 100px" required></textarea>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center">
                                                <input type="hidden" name="chapterId" th:value="${chapter.getId()}">
                                                <button type="submit" class="ok" style="margin-top: 1rem;">Добавить</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ДОБАВЛЕНИЕ ИЗОБРАЖЕНИЯ -->
                    <div class="hystmodal" th:id="${'new_image' + chapter.getId()}" aria-hidden="true">
                        <div class="hystmodal__wrap">
                            <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                                <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                    <!-- Форма Добавления изображения  -->
                                    <form th:action="@{/images/create}" method="post" enctype="multipart/form-data">
                                        <div class="news-inputs__block new-note">
                                            <div class="news-title__block" style="align-items: center">
                                                <label for="news_title4" class="label" style="margin-bottom: .5rem">Выберите изображение</label>
                                                <input type="file" name="image" id="news_title4" required>
                                            </div>
                                            <div class="news-buttons" style="justify-content: center">
                                                <input type="hidden" name="chapterId" th:value="${chapter.getId()}">
                                                <button type="submit" class="ok" style="margin-top: 1rem;">Добавить</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ДОБАВЛЕНИЕ РАЗДЕЛА -->
                <div class="hystmodal" id="new_chapter" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true" style="background: none; width: 800px;">
                            <div class="add-note__block" style="width: 100%; display: flex; justify-content: center;">

                                <!-- Форма Добавления раздела  -->
                                <form th:action="@{/chapters/create}" method="post">
                                    <div class="news-inputs__block new-note">
                                        <div class="news-title__block" style="align-items: center">
                                            <label for="news_title1" class="label" style="margin-bottom: .5rem">Название раздела</label>
                                            <input type="text" id="news_title1" name="name" class="search-bar news-input" required>
                                        </div>
                                        <div class="news-buttons" style="justify-content: center">
                                            <input type="hidden" name="contentId" th:value="${content.getId()}">
                                            <button type="submit" class="ok" style="margin-top: 1rem;">Добавить</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- РАЗДЕЛЫ -->
                <div class="theory-lesson-chapters">
                    <h3 class="chapters-title">Разделы</h3>
                    <ol class="chapters-list" id="chapters-list">
                        <li th:each="chapter, iterStat : ${content.getChapters()}" th:class="${iterStat.first ? 'active-chapter chapters-item' : 'chapters-item'}">
                            <a th:href="@{${'#chapter' + chapter.getId()}}" th:text="${chapter.getName()}"></a>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
    </div>
</main>

<footer class="footer sidebar-show__content">
    <div class="footer__inner">
        <div class="footer__makes-by">
            <span>ИС-4</span>
            <span>Ростовцев В.С.</span>
        </div>
        <div class="footer__diplom">
            <span>Дипломная работа</span>
        </div>
        <div class="footer__customer">
            <span>Техникум</span>
            <span>Бизнес и право</span>
        </div>
    </div>
</footer>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/theory_lesson.js}"></script>
<script>
    const new_chapter = new HystModal({
        linkAttributeName: "data-hystmodal",
        // настройки (не обязательно), см. API
    });
</script>
</body>

</html>